@{
    ViewBag.Title = "About";
}
<br />
<br />
<h1>About Us</h1><br />

<h3 style="text-align:justify">E-Lautech is an extendable and a modifiable email and SMS examination result alert system. The need for such a system is due to the long duration accessibility of student examination result, which require student to provide personnel data, such as mobile phone numbers and email address. The advantage of an SMS alert system include low implementation action to 
    
    use the system as it base on email and SMS, and extendibility.</h3>
