@{
    ViewBag.Title = "Contact";
}
<br />
<h3>E-Lautech Contact</h3>
<p>

</p>
<address>
    Ladoke Akintola University of Technology<br />
    Ogbomoso, Oyo State Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +2347034953469
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:e-lautech@outlook.com">e-lautech@outlook.com</a><br />
    
</address>